<section id="sobremi" class="sobremi">
    <h1>Sobre Mí</h1>
    <p><span>Hola, soy Ochoa Cesar.</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde soluta minima necessitatibus, voluptas consectetur vero officiis quas, explicabo deleniti repellendus aliquid debitis maiores numquam voluptate reprehenderit in delectus dolores.</p>
</section>
<section id="inf" class="inf">
    <div class="fila">
            <h1>Datos Personales</h1>
                    <p><strong>Cumpleaños</strong> 02/07/2002</p>
                    <p><strong>Teléfono</strong> +54 9 3884602284</p>
                    <p><strong>Email</strong>  cio.4422.ochoa@gmail.com</p>
                    <p> <strong>Dirección</strong>  San Salvador de Jujuy, Jujuy, Argentina </p>
    </div>
</section>